body{
    display: flex;
    justify-content: center;
    align-items: center;
    height:100vh;
}

p{
    font-family: 'Inconsolata', monospace;
    font-size: 16pt;
    font-weight: 700;
    color: rgb(39, 39, 39);
}

.calculator-wrapper{
    display: flex;
    flex-direction: column;
    height:500px;
    width:300px;
    justify-content: center;
    align-items: center;
    background-color: #a3a380;
    border-radius: 10px;
    border: 4px solid #6b705c;
    padding:12px 8px;
}

.display{
    height: 15%;
    width: 95%;
    position: relative;
    background-color: #efebce;
    border-radius: 10px;
    margin-bottom: 12px;
    border: 2px solid #d6ce93;
    text-align: right;
}

.display p{
    margin: 6px 16px 12px 0px;
}

#display-num{
    font-size: 14pt;
    font-weight: 400;
}
#total{
    font-size: 24pt;
}

.keypad{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 80%;
    width: 100%;
}
.keypad p{
    width: 21%;
    margin: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #d8a48f;
    border-radius: 10px;
    border: 3px solid #bb8588;
    margin: 2px;
    cursor: pointer;
}

p.operator, p.clear, p.equal {
    background: #dab170;
    border:3px solid #c48e38;
}
